# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
venv/
.venv/
env/

# Flask / App
instance/
.env
*.db
*.sqlite

# Uploads
static/uploads/*
!static/uploads/.gitkeep

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
